{#
/**
 * @file
 * HDBT Admin theme implementation to display a single Drupal page, based
 * on Gin theme implementation.
 *
 * @see template_preprocess_page()
 */
#}
{% set page_title_block = active_admin_theme ~ '_page_title' %}
{% set local_actions_block = active_admin_theme ~ '_local_actions' %}
{% set branding_block = active_admin_theme ~ '_branding' %}
{% set primary_local_tasks_block = active_admin_theme ~ '_primary_local_tasks' %}
{% set language_switcher_admin = 'language_switcher_admin' %}

{% if toolbar_variant != 'vertical' %}
  <div class="region-sticky-watcher"></div>
{% endif %}

<div class="gin-secondary-toolbar layout-container">
  <div class="gin-breadcrumb-wrapper">
    {% if route_name == 'entity.node.canonical' %}
      <div class="region region-breadcrumb gin-region-breadcrumb">
        <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
          <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
          <ol class="breadcrumb__list">
            <li class="breadcrumb__item">
              {% if entity_edit_url and entity_title %}
                <a class="breadcrumb__link gin-back-to-admin" href="{{ entity_edit_url }}">{{ 'Edit %title'|t({ '%title': entity_title }) }}</a>
              {% else %}
                <a class="breadcrumb__link gin-back-to-admin" href="{{ path('system.admin_content') }}">{{ 'Back to Administration'|t }}</a>
              {% endif %}
            </li>
          </ol>
        </nav>
      </div>
    {% else %}
      {{ page.breadcrumb }}
    {% endif %}
  </div>
  {{ page.gin_secondary_toolbar }}
</div>

{% if toolbar_variant == 'vertical' %}
  <div class="region-sticky-watcher"></div>
{% endif %}

<header class="region region-sticky">
  <div class="layout-container region-sticky__items">
    <div class="region-sticky__items__inner">
      {{ page.header[page_title_block] }}
      {{ page.header[language_switcher_admin] }}
      {{ page.content[local_actions_block] }}
    </div>
  </div>
</header>

<div class="sticky-shadow"></div>

<div class="content-header clearfix">
  <div class="layout-container">
    {{ page.header|without(page_title_block, branding_block, language_switcher_admin) }}
  </div>
</div>

<div class="layout-container">
  {{ page.pre_content }}
  <main class="page-content clearfix" role="main">
    <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
    {{ page.highlighted }}
    {% if page.help %}
      <div class="help">
        {{ page.help }}
      </div>
    {% endif %}
    {{ page.content|without(local_actions_block) }}
  </main>
</div>
