{#
/**
 * To actually show any data from a custom plugin, you *MUST* override this template
 * with a template called 'debug-item--{{ id }}.html.twig'.
 *
 * For example: debug-item--composer.html.twig, where 'composer' is your plugin's ID.
 *
 * You can then loop your data with something like this:
 * {% for item in data.packages %}
 *    {{ item.name }}
 *    {{ item.version }}
 * {% endfor %}
 *
 *  Available variables:
 *  - id: The ID of your plugin
 *  - label The label of your plugin
 *  - data:  An array of data returned by your plugin's collect() method.
 */
#}

<h2>Tunnistamo</h2>
<table style="width:auto;">
  <thead>
    <tr>
      <th>Key</th>
      <th>Is set</th>
    </tr>
  </thead>
  <tbody>
  {% for key, exists in data %}
  {% set color = exists ? 'green' : 'red' %}
    <tr>
      <th>
        {{ key }}
      </th>
      <td>
        <span style="color: {{ color }}">
          {% if exists %} Is set {% else %} Missing {% endif %}
        </span>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
